.form {
  padding: 30px;
}

.instruction-text {
  margin: 25px 0 25px 0;
  background: #f6f6f6;
  border-radius: 10px;
  font-size: 17px;
  padding: 8px 15px 8px 15px;
  color: #5c636e;
  text-align: center;
}
.inputs-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
  align-items: center;
}
.signin-input-label {
  font-size: 18px;
  font-weight: 600;
  color: #343a43;
}
.signin-input {
  width: 100%;
  font-size: 15px;
  padding: 13px;
  font-weight: bold;
  background: #f8f8f8;
  border: none;
  border-radius: 5px;
  outline: none;
}
.signin-input-root {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
}
.signin-input-icon {
  background: #5830e0;
  padding: 6px;
  height: 30px;
  width: 30px;
  border-radius: 7px;
  margin: 0 5px;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
}
.form-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.form-btn {
  font-size: 20px;
  padding: 15px 60px 15px 60px;
  background: #5830e0;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
}
.forgit-password-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
